<p>student-details works!</p>

<p>injector has to register all dependencies.that means injector is like a container for all the dependencies</p>
<p>alll the dependencies are in the injectors if the componet requires it pickups from injector and it uses</p>
<p>in angular they provided dependency injection as a framework</p>
<h3>how to use services using dependencyinjection</h3>
<u>
    <li>Define the studentService class</li>
    <li>Register with injector</li>
    <li>Declare as dependency in student-list and student-Details component</li>
    <li>studentService is an injector student-list and student-Details are components</li>
</u>
<ul *ngFor="let y of students">
    <p>{{y.name}}</p>
</ul>